body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-color: #666;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

img:hover {
  transition-duration: 1s;
  transform: scale(1.05);
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;
}

.indifferent {
  border: 1px solid #aaaa00;
  box-shadow:  -1px 1px #aaaa00, -2px 2px #aaaa00, -3px 3px #aaaa00, -4px 4px #aaaa00, -5px 5px #aaaa00;
  background-color: #dddd22;
}

.dubious {
  border: 1px solid #aa2222;
  box-shadow: -1px 1px #aa2222, -2px 2px #aa2222, -3px 3px #aa2222, -4px 4px #aa2222, -5px 5px #aa2222;
  background-color: #dd4444;
}

#logo h1 {
  font-family: 'Clicker Script', cursive;
}
#logo h2 {
  font-family: 'Elsie Swash Caps', cursive;
}

#details a:link, #details a:visted {
  color:black;
  text-decoration: none;
}

#details a: hover {
  color: black;
  text-decoration: underline;
}
#detail a:active {color:red;}
/* create a column class! make sure all of the divs within 'container's have a class of 'column' */
.wrapper {
    width: 1080px;
    margin:0 auto;
}
.col-1 {
  float: left;
  width: 32%;
  background: #ccc;
}
.col-2 {
  float: left;
  width: 66%;
  background: #ccc;
}
.col-3 {
  background: #ccc;
}

[class*="col-"]{
  margin-left: 2%}
  
.first {
  margin-left: 0%}
  
.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   height: 0;
   line-height: 0;
 }
 
 img, video, audio {
   max-width: 100%;
 }

section {
    padding: 20px;
    margin-bottom: 20px;
    }

*{
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
 }
 
 #social {
   position: fixed;
   top: 200px;
   right: 20px;
   width: 40px;
   z-index: 1;
      }
 
 #social a {
   display: block;
   width: 40px;
   height: 40px;
   background: yellow;
        }
 
 header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background: #fff;
   z-index: 1;
 }

/* create your tile classes! we recommend .small .med .large */
